<%- include('includes/head.ejs') %>

    <body>

        <%- include('includes/header-nav.ejs') %>

        <div
            style="height: 50vh; display: flex; align-items: center; justify-content: center"
        >
            <h1>404 Page not found</h1>
        </div>
    </body>

<%- include('includes/footer.ejs') %>
